# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/
env.bak/
venv.bak/

# Flask
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test & coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Misc
*.swp
*.swo
.idea/
*.bak